* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Bebas Neue', sans-serif; /* Самый пиздатый шрифт */
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
