* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: sans-serif; /* Самый пиздатый шрифт */
  background: linear-gradient(135deg, #545486, #16213e);
  min-height: 100vh;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  flex-direction: column;
}
text {
  text-transform: none;
}

@media (max-width: 394px) {
  .app {
    padding-top: 10px;
  }
}
