button {
  padding: 30px;
  cursor: pointer;
  border-radius: 25px;
  background: #ff4d4d;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  /* box-shadow: 0 10px 20px rgba(255, 77, 77, 0.3); */
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  box-shadow: 0 15px 25px rgba(255, 77, 77, 0.4);
  /* background: linear-gradient(45deg, #f9cb28, #ff4d4d); */
}

button:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(255, 77, 77, 0.2);
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

button {
  animation: pulse 2s infinite;
}

/* button::after {
  content: '→';
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

button:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  button {
    width: 120px;
    padding: 30px;
    margin-left: 20px;
    font-size: 16px;
  }
}
